#progressBar {
    width: 100%;
    height: 5px;
    background-color: rgba(0, 255, 255, 0.2);
    margin-bottom: 20px;
}

#progressBar::after {
    content: '';
    display: block;
    height: 100%;
    background-color: #00ffff;
    box-shadow: 0 0 10px #00ffff, 0 0 20px #00ffff;
    transition: width 0.3s ease;
}

#questionTitle {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #333;
}

#answerArea button {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 15px 20px;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

#answerArea button:hover {
    background-color: #45a049;
}

#answerArea textarea {
    width: 100%;
    height: 150px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    resize: vertical;
}

.nav-button {
    padding: 10px 10px;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    font-size: 12px;
}

#navigationButtons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

#resultArea {
    text-align: center;
}

#copyButton, #twitterShareButton {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
}

#copyButton {
    background-color: #4CAF50;
}

#twitterShareButton {
    background-color: #1DA1F2;
}

.app-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
  }
  
  #questionModeContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

#answerArea {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }


#selectionSummary {
    width: 100%;
    text-align: left;
    padding-left: 10%;
  }

.home-link {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}